<% if signed_in? %>
      <%= button_to 'Sign out', sign_out_path, method: :delete %>
        <%= button_to 'Create New intertitle', intertitles_show_all_path, method: :get %>
    <% else %>
      <%= link_to 'Sign in', sign_in_path %>
    <% end %>

<div class="showall">
    <% @intertitles.each do |intertitle| %>
        <div class="container_intertitle">
            <%= link_to intertitle.title, intertitle %>
        </div>
    <% end %>
</div>
