<div class="showall">
    <% @intertitles.each do |intertitle| %>
        <div class="container_intertitle">
            <%= link_to intertitle.title, intertitle %>
        </div>
    <% end %>
</div>


        
    