
<section class="intertitle">
  <div class="container"
    <% @split_intertitle.each_with_index do |word, index| %>
        <div class="container" id="intertitle-<%= index %>" style='display: none;'>
            <%= word %>
        </div>
    <% end %>
  </div>
</section>

<%= link_to 'Edit', edit_intertitle_path(@intertitle) %> 
<%= link_to 'Back', intertitles_path %>

<script>
//  (function() {
//     var ids = []
//     var currentId = 0
//     $('.intertitle').find('.container').each(function() {ids.push('#' + this.id)})
//     function cycle() {
//         $('.intertitle .container').hide();
//         $(ids[currentId]).fadeIn(500)
//         currentId++
//         if (currentId >= ids.length) {
//             currentId = 0
//         }
//     }
    
//     setInterval(cycle, 1000)
// }())
</script>

<script>
 (function() {
    var ids = []
    var currentId = 0
    function cycle() {
        if (currentId < ids.length) {
            $('.intertitle .container').hide();
            $(ids[currentId]).fadeIn(500)
            currentId++
        } else {
            $('.intertitle').find('.container').hide();
        }
    }
    
    $('.intertitle').find('.container').each(function() {ids.push('#' + this.id)})
    
    setInterval(cycle, 1000)
}())
</script>
