
<section class="intertitle">
  <div class="container"
    <% @split_intertitle.each_with_index do |word, index| %>
        <div class="container" id="intertitle-<%= index %>" style='display: none;'>
            <%= word %>
        </div>
    <% end %>
  </div>
</section>

<%= link_to 'Edit', edit_intertitle_path(@intertitle) %> 
<%= link_to 'Back', intertitles_path %>

<script src='https://code.responsivevoice.org/responsivevoice.js'></script>

<script>

//  (function() {
    $('.container').trigger("click");
    responsiveVoice.OnVoiceReady = function (){
    var ids = []
    var index = 0
    function cycle() {
        if (index < ids.length) {
            $('.intertitle .container').hide();
            $(ids[index]).fadeIn(500).delay(20000);
            var text = $(ids[index]).text().trim();
            responsiveVoice.speak(text);
            index++
            var split_words = text.split(' ');
            debugger;
            var time_to_wait = split_words.length*1000;
            setTimeout(cycle, time_to_wait);
        } else {
            $('.intertitle').find('.container').hide();
        }
    }
    
    $('.intertitle').find('.container').each(function() {
        ids.push('#' + this.id)
    })
    cycle();
}
// }())
</script>
