
<section class="intertitle">
  <div class="container"
    <% @split_intertitle.each_with_index do |word, index| %>
        <div class="container" id="intertitle-<%= index %>" style='display: none;'>
            <%= word %>
        </div>
    <% end %>
    <!---->
    <!--<i class="fas fa-volume-up"></i>-->
    <button class="mute volumeToggle"><i class="fas fa-volume-mute"></i></button>
    <button class="unmute invisible volumeToggle"><i class="fas fa-volume-up"></i></button>
  </div>
</section>

<%= link_to 'Edit', edit_intertitle_path(@intertitle) %> 
<%= link_to 'Back', intertitles_path %>

<script src='https://code.responsivevoice.org/responsivevoice.js'></script>

<script>

//  (function() {
var isMuted = false;
var ids = []
var index = 0
var muteButton = $('.mute')

$('.container').trigger("click");
responsiveVoice.OnVoiceReady = function (){
    function choseVoice() {
        var voices = ["Australian Female", "Australian Male", "UK English Male", "Uk English Female"];
        var index = Math.floor(Math.random() * voices.length);
        console.log(index);
        return voices[index];
    }
    
    function cycle(voice) {
       
        if (index < ids.length) {
            var text = $(ids[index]).text().trim();
            $('.intertitle .container').hide();
            if (isMuted == true) {
                $(ids[index]).fadeIn(500);
            } else {
                responsiveVoice.speak(text, voice);
                 console.log(voice,"this is the voice");
            }
            
            index++
            var split_words = text.split(' ');
            //sync voice with text
            var time_to_wait = split_words.length*1000;
            setTimeout(function(){ cycle(voice)},time_to_wait);
        } else {
            $('.intertitle').find('.container').hide();
            muteButton.fadeOut(3000);
        }
    }
    
    $('.intertitle').find('.container').each(function() {
        ids.push('#' + this.id)
    })
    
    cycle(choseVoice());
}

$(".volumeToggle").click(function(){
    isMuted = !isMuted
     if (isMuted == true) {
        $(ids[index]).show(); 
        responsiveVoice.cancel();
        $(".mute").addClass("invisible");
        $(".unmute").removeClass("invisible");
     }else {
         $(ids[index]).hide();
         $(".mute").removeClass("invisible");
         $(".unmute").addClass("invisible");
         
     }
});

// }())
</script>
