<div class="showall">
    <% @intertitle.content.split("\n").each_with_index do |sentence, index| %>
        <div class="container" id="intertitle-<%= index %>">
            <%= sentence %>
        </div>
    <% end %>
</div>
<script>
 (function() {
    var ids = []
    var currentId = 0
    $('.showall').find('.container').each(function() {ids.push('#' + this.id)})
    function cycle() {
        $(ids[currentId]).show()
        $('.showall .container').not(ids[currentId]).hide()
        if (currentId < ids.length) {
            currentId++
        } else {
            currentId = 0
            
        }
    }
    
    setInterval(cycle, 3000)
}())
</script>
        
    