// Place all the styles related to the Intertitles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.intertitle {
  height: 500px;
  margin: 20px 0;
  padding: 25px;
  background: black;
  color: white;
  text-align: center;
}

.form {
  margin-left: 100px;
}

.container {
  display: inline-block;
  width: 440px;
  font-family: Helvetica, sans-serif;
  font-size: 36px;
  font-weight: 200;
  line-height: 0.9;
  padding: 50px;
  text-transform: uppercase;
}
.container_intertitle {
  display: inline-block;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
   border: 2px solid black;
  margin: 50px;
  padding: 100px;
}

.showall {
  :nth-child(1n+2) {
    // display: none;
  }
  // height: 500px;
  margin: 20px 0;
  padding: 25px;
  background: white;
  color: black;
  line-height: 1.5;
  text-align: center;
}

#main_text_area {
  width: 30em;
}

.mute {
  position: absolute;
  top: 450px;
  right: 50px;
}

.unmute {
  position: absolute;
  top: 450px;
  right: 50px;
}

.invisible {
  visibility: hidden;
}

button.index_button {
  background: white;
  border: 1px solid black;
  text-transform: uppercase;
  padding: 5px;
}

button.index_button:hover {
  background: white;
 text-decoration: none;
 background: rgba(0, 0, 0, 0.9);
}
button.index_button:hover a {
 text-decoration: none;
}
button.index_button:focus a {
 text-decoration: none;
 color: white;
}
button {
  background: none;
  border: none;
  color: white;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.9);
  padding: 5px;
}

button:hover {
  transform: translateY(0);
}

button:focus {
  outline: none;
}
.gallery-curtain {
  background-color: rgba(255,255,255, 0.5);
  padding: 10px;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
}

.index_button:hover .gallery-curtain {
    bottom: 0;
  }