// Place all the styles related to the Intertitles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.intertitle {
  height: 500px;
  margin: 20px 0;
  padding: 25px;
  background: black;
  color: white;
  text-align: center;
}

.form {
  margin-left: 100px;
}

.container {
  display: inline-block;
  width: 440px;
  font-family: Helvetica, sans-serif;
  font-size: 36px;
  font-weight: 200;
  line-height: 0.9;
  padding: 50px;
  text-transform: uppercase;
}
.container_intertitle {
  display: inline-block;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
   border: 2px solid black;
  margin: 50px;
  padding: 100px;
}

.showall {
  :nth-child(1n+2) {
    // display: none;
  }
  // height: 500px;
  margin: 20px 0;
  padding: 25px;
  background: white;
  color: black;
  line-height: 1.5;
  text-align: center;
}

