// Place all the styles related to the Intertitles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.intertitle {
  height: 240px;
  margin: 20px 0;
  padding: 25px;
  background: black;
  color: white;
  text-align: center;
}

.container {
  display: inline-block;
  width: 440px;
  font-family: Helvetica, sans-serif;
  font-size: 36px;
  font-weight: 200;
  text-transform: uppercase;
}

.container p {
  -webkit-animation: fadeout 1s 5s forwards;
          animation: fadeout 1s 5s forwards;
}