@font-face {
    font-family: "YoungSerif";
    src: font-url("YoungSerif-Regular.otf") format("opentype");
}

body.show {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: YoungSerif, trebuchet, serif;
}
a.intertitles {
    color: white;
}
.font1 {
    
}